<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgb(206, 206, 206);">
                <div class="d-flex flex-column justify-content-center align-items-start">
                    <h2 class="modal-title d-flex align-items-center" id="exampleModalLabel">
                        <mat-icon>account_tree</mat-icon> Asignación:</h2>
                    <div class="dis p-2 bg-primary rounded-2 fs-5 text-light">
                        <strong> {{_nom_prod}} </strong>
                    </div>
                </div>
                <!-- <div class=" bg-dark text-light p-2 rounded-3" style="height: 67.97px;">
                    <label>Tipo de cálculo de precio: </label> <br>
                    <mat-radio-group class="w-100 " [formControl]="floatLabelControl">
                        <mat-radio-button (change)="getFloatLabelValue()" value="porcentaje">Porcentaje</mat-radio-button>
                        <mat-radio-button (change)="getFloatLabelValue()" value="manual">Manual</mat-radio-button>
                    </mat-radio-group>
                </div> -->
                <div class="d-flex rounded-3 bg-warning m-2" style=" box-shadow: 0px 5px 10px rgba(0,0,0,0.5); height: 67.97px; border: solid 1px rgb(161, 161, 161);">
                    <mat-form-field appearance="fill" class="p-2">
                        <mat-label>
                            <strong class="text-primary">({{icon_sel}})</strong> Precio de venta del Producto:
                        </mat-label>
                        <input matInput type="number" [(ngModel)]="_cost_prod" (keyup)="subtot = _cost_prod; _PVP = subtot; _Porc_Gan = _PVP; xnumbpoc = ((_PVP - sumatoriaCostServs)/sumatoriaCostServs)*100; detextColor(xnumbpoc) " [disabled]="_lock">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="p-2">
                        <mat-label>Descuento del Producto: <strong>%</strong></mat-label>
                        <input matInput type="number" [(ngModel)]="_descu" (keyup)="totDesc = ((_descu / 100) * subtot) * -1; _PVP = subtot + totDesc; xnumbpoc = ((_PVP - sumatoriaCostServs)/sumatoriaCostServs)*100; detextColor(xnumbpoc)" [disabled]="_lock">
                    </mat-form-field>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body d-flex">
                <div class="arm-container p-2 h-100">

                    <!-- <hr> -->
                    <div class="prod-body" style="height: 415px; overflow: auto;">
                        Proveedores necesitados para generar este producto: <strong> ({{cantCProd}}) </strong>.
                        <div *ngFor="let xx of arrProdC" class="xx">
                            <div class="dd">
                                <li>
                                    <div class="btn btn-outline-dark w-100 d-flex justify-content-center align-items-start flex-column" (dblclick)="dCprod(xx.cod_prov, xx.cod_serv, xx.cod_prod, xx.id)">
                                        <span style="border-bottom: solid 1px gray;" class="d-flex align-items-center"> <mat-icon>badge</mat-icon> {{xx.nom_prov | titlecase }} </span>
                                        <span class="text-secondary" style="font-size: 9pt;"> {{xx.desc_serv}} </span>
                                    </div>
                                </li>
                                <li class="d-flex justify-content-between">Subtotal: <strong> $ {{xx.cos_serv}} </strong></li>
                                <li class="d-flex justify-content-between">IVA: ({{xx.iva}}): <strong> $ {{xx.total_IVA}} </strong></li>
                                <li class="d-flex justify-content-between">Total: <strong> $ {{xx.costoTotal}} </strong> </li>
                            </div>
                        </div>

                    </div>
                    <div class="calc d-flex flex-column p-2">
                        <!-- <span>Cálculo de ganancia:</span> -->
                        <div class="d-flex justify-content-between">
                            <span>P. Venta: </span><strong>$ {{subtot | number: '1.2-2' }}</strong>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>Desc. Aplicado: (%{{desc_s}}) </span><strong>$ {{totDesc | number: '1.2-2' }}</strong>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>Sub. Total: </span><strong>$ {{ subtot + totDesc | number: '1.2-2' }}</strong>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>P. Acum. Prov: </span><strong>$ {{ sumatoriaCostServs | number: '1.2-2' }}</strong>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>Ganacia neta: </span><strong class="fs-6 text-warning bg-black p-2 rounded-2">$ {{ (subtot + totDesc) - sumatoriaCostServs | number: '1.2-2' }}</strong>
                        </div>
                    </div>
                </div>
                <div class="xB w-100">

                    <div class="d-flex justify-content-between">
                        <div class="boxdetail d-flex flex-column">
                            <label class="text-light d-flex align-items-center p-2"><mat-icon>monetization_on</mat-icon> P.V.P.:</label>
                            <span [ngStyle]="{'color': '#10C7EB'}" class=" p-2 d-flex justify-content-center align-items-center">
                              $<strong style="font-size: 30pt;">{{_PVP}}</strong>
                            </span>
                        </div>
                        <div class="boxdetail">
                            <label class="text-light d-flex align-items-center p-2"><mat-icon>payments</mat-icon> Porcentaje de ganancia:</label>
                            <span [ngStyle]="{'color': _color_numb}" class=" p-2 d-flex justify-content-center align-items-center">
                            <strong style="font-size: 30pt;" >{{ xnumbpoc | number: '1.2-2' }}%</strong>
                          </span>
                        </div>
                        <div class="boxdetail">
                            <label class="text-light d-flex align-items-center p-2"><mat-icon>savings</mat-icon> Ganancia neta:</label>
                            <span [ngStyle]="{'color': _color_numb}" class=" p-2 d-flex justify-content-center align-items-center">
                            $<strong style="font-size: 30pt;" >{{ _PVP - sumatoriaCostServs | number: '1.2-2' }}</strong>
                          </span>
                        </div>
                    </div>
                    <mat-tab-group class="w-100">
                        <mat-tab label="Proveedor de servicios" (click)="_show_servs_provs = !_show_servs_provs">
                            <div class="searck">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Buscador de proveedores de servicios por nombre (Presione la tecla ENTER):</mat-label>
                                    <input matInput type="text" [(ngModel)]="_search" (keyup.enter)="this.getProveedores('servicios', 'nom_prov', _search, 'asc', this.xx);">
                                </mat-form-field>
                            </div>
                            <div class="d-flex w-100">
                                <div class="tableFixHead w-100 " id="tbFix">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="p-2"> Nom. Proveedor</th>
                                                <!-- <th class="p-2"> Servicios</th> -->
                                                <th class="p-2"> Teléfono </th>
                                                <th class="p-2"> Dirección </th>
                                                <th class="p-2"> Ciudad </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="trActive" *ngFor="let aa of proveeArrGet">
                                                <td (click)="this.getServicios(aa.cod_prov, 'nom_serv', 'a', 'desc', aa.nom_prov); _show_servs_provs = !_show_servs_provs" class="d-flex align-items-center bg-primary text-light">
                                                    <mat-icon>chevron_right</mat-icon> {{aa.nom_prov}}
                                                </td>
                                                <!-- <td>
                                                <li>

                                                </li>
                                            </td> -->
                                                <td> {{aa.telef}} </td>
                                                <td> {{aa.direccion}} </td>
                                                <td> {{aa.ciudad}} </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <div *ngIf="_show_servs_provs">
                                    <div class="bg-warning text-dark rounded-3 w-100 p-2" style="z-index: 700; box-shadow: 0px 5px 10px rgba(0,0,0,0.5);">
                                        <span class="fs-6"> <strong> {{nom_server_prov}} </strong></span>
                                        <span style="font-size: 9pt;">| Cant. Servicios: ( <strong> {{cantServs}}</strong> )
                                        </span>
                                    </div>

                                    <div class="d-flex flex-column h-100 animate__animated animate__fadeInUp" style="width: 300px; height: 288px !important; overflow-y: auto;">

                                        <div *ngFor="let xserv of xArrServs" class="servsProv p-2 rounded-2 m-2 bg-primary text-light">

                                            <li title="{{xserv.desc_serv}}">
                                                <strong class="text-light"> Nombre: </strong> {{xserv.nom_serv}}
                                            </li>
                                            <!-- <li>
                                                <strong class="text-light">Descripción:</strong> {{xserv.desc_serv}}
                                            </li> -->
                                            <li>
                                                <table class="table table-sm rounded-2" style="box-shadow: 0px 0px 10px rgba(0,0,0,0.5);">
                                                    <thead class="bg-warning text-dark table-sm">
                                                        <th class="bg-warning" style="font-size: 8pt;">M</th>
                                                        <th class="bg-warning" style="font-size: 8pt;">D</th>
                                                        <th class="bg-warning" style="font-size: 8pt;">H</th>
                                                        <th class="bg-warning" style="font-size: 8pt;">Costo</th>
                                                        <th class="bg-warning" style="font-size: 8pt;">I.V.A. Tot.</th>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="bg-warning text-dark" style="font-size: 9pt;"><strong>{{xserv.dias}}                        </strong></td>
                                                            <td class="bg-warning text-dark" style="font-size: 9pt;"><strong>{{xserv.horas}}                       </strong></td>
                                                            <td class="bg-warning text-dark" style="font-size: 9pt;"><strong>{{xserv.minutos}}                     </strong></td>
                                                            <td class="bg-warning text-dark" style="font-size: 9pt;"><strong>$ {{xserv.cos_serv | number: '1.2-2'}}</strong></td>
                                                            <td class="bg-warning text-dark" style="font-size: 9pt;"><strong>$ {{xserv.cos_serv+(xserv.cos_serv*(xserv.cost_add / 100)) | number: '1.2-2'}}</strong></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div (click)="saveProdsCreate(xserv.cod_prov, xserv.cod_serv, _nom_prod)" class="btn btn-outline-light d-flex justify-content-end align-items-center">
                                                    <mat-icon>task_alt</mat-icon> Aplicar Servicio
                                                </div>
                                            </li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab label="Proveedor de Bienes (Productos...)" (click)="_show_servs_provs = !_show_servs_provs">
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Buscador de proveedores de materiales por nombre (Presione la tecla ENTER):</mat-label>
                                <input matInput type="text" [(ngModel)]="_search" (keyup.enter)="this.getProveedores('materiales', 'nom_prov', _search, 'asc', this.xx);">
                            </mat-form-field>
                            <div class="d-flex w-100">
                                <div class="tableFixHead w-100 " style="height: 325px !important;">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="p-2"> Nom. Proveedor</th>
                                                <th class="p-2"> Teléfono</th>
                                                <th class="p-2"> Dirección</th>
                                                <th class="p-2"> Ciudad</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="trActive" *ngFor="let ab of proveServArrGet">
                                                <td (click)="this.getServicios(ab.cod_prov, 'nom_serv', 'a', 'desc', ab.nom_prov); _show_servs_provs = !_show_servs_provs" class="d-flex align-items-center bg-primary text-light">
                                                    <mat-icon>chevron_right</mat-icon> {{ab.nom_prov}}
                                                </td>
                                                <td> {{ab.telef}} </td>
                                                <td> {{ab.direccion}} </td>
                                                <td> {{ab.ciudad}} </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div *ngIf="_show_servs_provs">
                                    <div class="bg-warning text-dark rounded-3 w-100 p-2" style="z-index: 700; box-shadow: 0px 5px 10px rgba(0,0,0,0.5);">
                                        <span class="fs-6"> <strong> {{nom_server_prov}} </strong></span>
                                        <span style="font-size: 9pt;">| Cant. Servicios: ( <strong> {{cantServs}}</strong> )
                                      </span>
                                    </div>

                                    <div class="d-flex flex-column h-100 animate__animated animate__fadeInUp" style="width: 300px; height: 288px !important; overflow-y: auto;">

                                        <div *ngFor="let xserv of xArrServs" class="servsProv p-2 rounded-2 m-2 bg-primary text-light">

                                            <li title="{{xserv.desc_serv}}">
                                                <strong class="text-light"> Nombre: </strong> {{xserv.nom_serv}}
                                            </li>
                                            <!-- <li>
                                              <strong class="text-light">Descripción:</strong> {{xserv.desc_serv}}
                                          </li> -->
                                            <li>
                                                <table class="table table-sm rounded-2" style="box-shadow: 0px 0px 10px rgba(0,0,0,0.5);">
                                                    <thead class="bg-warning text-dark table-sm">
                                                        <th class="bg-warning" style="font-size: 8pt;">M</th>
                                                        <th class="bg-warning" style="font-size: 8pt;">D</th>
                                                        <th class="bg-warning" style="font-size: 8pt;">H</th>
                                                        <th class="bg-warning" style="font-size: 8pt;">Costo</th>
                                                        <th class="bg-warning" style="font-size: 8pt;">Tot.I.V.A.</th>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="bg-warning text-dark" style="font-size: 9pt;"><strong>{{xserv.dias}}                        </strong></td>
                                                            <td class="bg-warning text-dark" style="font-size: 9pt;"><strong>{{xserv.horas}}                       </strong></td>
                                                            <td class="bg-warning text-dark" style="font-size: 9pt;"><strong>{{xserv.minutos}}                     </strong></td>
                                                            <td class="bg-warning text-dark" style="font-size: 9pt;"><strong>$ {{xserv.cos_serv | number: '1.2-2'}}</strong></td>
                                                            <td class="bg-warning text-dark" style="font-size: 9pt;"><strong> ({{xserv.cost_add}}%)$ {{ xserv.cos_serv + (xserv.cos_serv * (xserv.cost_add / 100)) | number: '1.2-2'}}</strong></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </li>
                                            <div (click)="saveProdsCreate(xserv.cod_prov, xserv.cod_serv, _nom_prod)" class="btn btn-outline-light d-flex justify-content-end align-items-center">
                                                <mat-icon>task_alt</mat-icon> Aplicar Servicio
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>

            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="staticBackdropLabel">
                    Escoge la compañía a destinar los productos:
                </h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-dark bg-secondary">
                        <thead class="bg-secondary text-light">
                            <td class="p-2">
                                N. compañía
                            </td>
                            <td class="p-2">
                                Descripción
                            </td>
                            <td class="p-2">
                                País
                            </td>
                            <td class="p-2">
                                Ciudad
                            </td>
                            <td></td>
                        </thead>
                        <tbody>
                            <tr *ngFor=" let x of arrComp ">
                                <td>{{x.name_cia}}</td>
                                <td>{{x.descrip_cia}}</td>
                                <td>{{x.pais_cia}}</td>
                                <td>{{x.ciudad_cia}}</td>
                                <td class="cur text-info" data-bs-dismiss="modal" (click)="asignCompany(x.codec_cia, x.name_cia)">
                                    <mat-icon>label_important</mat-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="title d-flex justify-content-between w-100">
    <div class="xxx">
        <h2 class="tih">Maestro de Productos:</h2>
    </div>
    <div class="btns d-flex flex-wrap justify-content-end">
        <button class="btnsdiv d-flex align-items-center" [ngStyle]="{'background-color': _color_btnA, 'border-bottom':'solid 5px ' + _color_bord_A }" (click)="changeModsView(true, false, '#5C277B', '#361E45', '#0EC9BB', 'whitesmoke', true)">
        <mat-icon [ngStyle]="{'color': _color_bord_A }">add</mat-icon>Registrar
      </button>
        <button class="btnsdiv d-flex align-items-center" [ngStyle]="{'background-color': _color_btnB, 'border-bottom':'solid 5px ' + _color_bord_B }" (click)="changeModsView(false, true, '#361E45', '#5C277B', 'whitesmoke', '#0EC9BB', false)">
        <mat-icon [ngStyle]="{'color': _color_bord_B }" >app_registration</mat-icon>Ingresados
      </button>
    </div>
</div>

<div class="ds animate__animated animate__fadeInRight mt-3 w-100" *ngIf="_show_part_ing">
    <div class="comps rounded-2 w-100 m-2 bg-secondary p-1 text-light" style="height: 70px;">
        <span class="p-3">Mi empresa: <strong class="fs-5 text-warning">{{labelMessage | uppercase}}</strong></span>
        <button *ngIf="btnPost" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" class="w-100 d-flex align-items-center justify-content-center" mat-raised-button color="warn">
      <mat-icon>leaderboard</mat-icon>Escoger mi compañía
    </button>
    </div>
    <div class="sector-img">
        <div class="inpfile w-100">
            <label for="img" class="lb w-100 d-flex flex-column align-items-center justify-content-center">
              Click en el siguiente recuadro, sube una imagen de tu producto en los siguientes formatos <strong> (.JPG o .PNG): </strong><hr>
              <div class="img rounded-2" style="width: 300px; height: 325px;" id="boxImg" ></div>
            </label><br>
            <input type="file" (change)="encodeImageFileAsURLA('img', 'boxImg')" id="img" [(ngModel)]="_fServ" name="_fServ" class="inp-control">
        </div>
    </div>
    <div class="data">
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Nombre del producto:</mat-label>
            <input matInput type="text" [(ngModel)]="_nom_prod" (keyup)="persistNameProd(_nom_prod)" [disabled]="_lock">
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Descripción del producto:</mat-label>
            <textarea matInput [(ngModel)]="_desc_prod" [disabled]="_lock"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Prescripción del producto: <span class="note bg-primary p-1 text-light">(Para quien va dirijido este producto)</span> </mat-label>
            <input matInput type="text" [(ngModel)]="_pres_prod" [disabled]="_lock">
        </mat-form-field>
        <button style="height: 45px;" data-bs-toggle="modal" data-bs-target="#exampleModal3" (click)="asign_price(_cost_prod, _descu,_nom_prod, 0.0)" id="dpatron" mat-raised-button color="primary" class="d-flex w-100 align-items-center">
          <mat-icon>search</mat-icon>Asignar proveedores y servicios a este producto
        </button>
        <div class="d-flex justify-content-between mt-2">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Costo del Producto:</mat-label>
                <input matInput type="number" [(ngModel)]="_cost_prod" disabled>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>% Descuento del Producto:</mat-label>
                <input matInput type="number" [(ngModel)]="_descu" disabled>
            </mat-form-field>
        </div>
        <div class="d-flex w-100">
            <div class="inputsResp p-1" style="width: 20%;">
                <label for="color">Color Hex.: <strong>{{_color}}</strong></label>
                <input id="color" type="color" class="w-100" [(ngModel)]="_color" [disabled]="_lock">
            </div>
            <mat-form-field appearance="fill" class="inputsResp w-75 p-1">
                <mat-label>Uso:</mat-label>
                <input matInput type="text" [(ngModel)]="_uso" [disabled]="_lock">
            </mat-form-field>

        </div>
        <mat-form-field appearance="fill" class="inputsResp p-1" style="width: 35%;">
            <mat-label>Grupo:</mat-label>
            <input matInput type="text" [(ngModel)]="_grupo" [disabled]="_lock">
        </mat-form-field>
        <mat-form-field appearance="fill" class="inputsResp w-25">
            <mat-label>Sub Grupo:</mat-label>
            <input matInput type="text" [(ngModel)]="_sgrupo" [disabled]="_lock">
        </mat-form-field>
    </div>
    <div class="d-flex justify-content-between flex-wrap w-100">
        <!-- <mat-form-field appearance="fill">
            <mat-label>Color:</mat-label>
            <input matInput type="colorpicker" [(ngModel)]="_color" [disabled]="_lock">
        </mat-form-field> -->
        <!-- [disabled]="_dis_patron" -->

        <!-- <div class="provchoice p-4 w-100 mb-2 d-flex justify-content-around align-items-center" style="background-color: #522963;">
            <div style="box-shadow: 0px 5px 10px rgba(0,0,0,0.5); border: solid 1px gray;" class="provSends d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#exampleModal3" *ngFor="let xx of arrProdC">
                <span>{{xx.nom_prov | titlecase}}</span>
                <div (click)="dCprod(xx.cod_prov, xx.cod_serv, xx.cod_prod, xx.id)" class="btdel d-flex align-items-center justify-content-center">
                    <mat-icon>cancel</mat-icon>
                </div>
            </div>
        </div> -->
    </div>
</div>
<div class="btnsets w-100">
    <button *ngIf="btnPost" (click)="saveProdDB()" [disabled]="_lock" class="w-100 d-flex align-items-center justify-content-center" mat-raised-button color="accent">
    <!-- (click)="saveComp()"  -->
<mat-icon>fact_check</mat-icon>
Guardar producto
</button>

    <div class="btnsets d-flex" *ngIf="btnPut">
        <button (click)="upProdDB()" class="w-75 d-flex align-items-center justify-content-center" mat-raised-button color="primary">
        <mat-icon>update</mat-icon>Actualizar
      </button>
        <button (click)="cleanUp()" class="w-25 d-flex align-items-center justify-content-center" mat-raised-button color="warn">
  <mat-icon>cancel</mat-icon>
</button>
    </div>
</div>
<span class="notes">Productos ingresados para esta compañía: <strong style="color: purple;">{{cantProducts}}</strong></span>
<div class="ds  animate__animated animate__fadeInRight mt-3" *ngIf="_show_part_reg">
    <div class="searck w-100">
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Buscador de productos por nombre (Presione la tecla ENTER):</mat-label>
            <input matInput type="search" [(ngModel)]="_search" (keyup.enter)="this.getProducts(this.x, 1, 'asc', _search )">
        </mat-form-field>
    </div>
    <div class="tableFixHead w-100 ">
        <table>
            <thead>
                <tr>
                    <th class="p-2"> </th>
                    <th class="p-2"> Nombre </th>
                    <th class="p-2"> Descripción </th>
                    <th class="p-2"> Costo </th>
                    <th class="p-2"> Desc. </th>
                    <th class="p-2"> Grupo </th>
                    <th class="p-2"> Sub Grupo </th>
                    <th class="p-2">
                        <mat-icon class="text-secondary">delete_outline</mat-icon>
                    </th>
                    <th class="p-2">
                        <mat-icon class="text-secondary">edit</mat-icon>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pr of arrProducts">
                    <td class="getds" data-bs-toggle="modal" data-bs-target="#exampleModal3" (click)="asign_price(pr.cost_prod, pr.descu, pr.nom_prod, pr.total)">
                        <mat-icon>preview</mat-icon>
                    </td>
                    <td> {{pr.nom_prod}} </td>
                    <td> {{pr.desc_prod}} </td>
                    <td> ${{pr.cost_prod}} </td>
                    <td> %{{pr.descu}} </td>
                    <td> {{pr.grupo}} </td>
                    <td> {{pr.sgrupo}} </td>
                    <td class="deletes">
                        <mat-icon class="text-light" (click)="delProd(pr.id)">
                            delete_outline
                        </mat-icon>
                    </td>
                    <td class="updates" (click)="asignData(pr.cod_cia, pr.img_prods, pr.id, pr.nom_prod, pr.cost_prod, pr.descu, pr.pres_prod, pr.desc_prod, pr.color, pr.uso, pr.grupo, pr.sgrupo, pr.cod_prod)">
                        <mat-icon class="text-light">edit</mat-icon>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>